#tabLock {
  position: fixed;
  width: var(--wwidth);
  height: calc(var(--wheight) - var(--barheight));;
  z-index: 1;
  background-color: var(--cyan);
  display: none;
}

.textbox {
  width: calc(var(--wwidth) - 140px);
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--cyan);
  background-color: var(--white);
  transition: 0.2s;
}

.textbox:focus {
  border-bottom: 2px solid var(--blue);
  transform: translate(0, -1px);
}

.actionButtonPasswordTab {
  margin: 5px;
  padding: 5px;
  background-color: var(--cyan);
  color: var(--black);
  font-weight: bold;
  border-radius: 2px;
  transition: 0.15s;
}

.actionButtonPasswordTab:hover, .actionButtonPasswordTab:focus {
  box-shadow: 0 0 5px var(--blue);
  background-color: var(--blue);
  color: var(--white);
  transform: translate(0, -2px);
}
